body.light{
    background: #eee;
    color: #333;
  }
  body.dark{
    background: #333;
    color: #eee;
  }
  body.light .table{
    background: #eee;
    color: #333;
  }
  body.dark .table{
    background: #333;
    color: #eee;
  }
  
  
  